.about-container{

    h1{
        font-size:24px;
        font-weight:500;
        margin-bottom:1em;
    }

    div.about-block{
        margin-bottom:2rem;
        
        p{
            line-height:1.5;
            margin-bottom:.8em;
        }

        ul{
            list-style-type:circle;
        }
    }

    div.back{
        margin-top:3em;
    }
}

@media screen and (max-width:600px){

    .about-container{
        font-size:14px;
    }

}