.cart-main{
    @include flex(column, flex-start, flex-end);
}

.cart-nav{
    width:100%;
    @include flex(row, space-between, center);
    margin-bottom:1rem;
}


// ***** CART LIST ITEMS STYLING ****** //

.cart-list{
    width:100%;
    border:1px solid var(--secondaryBgColor);

    .cart-item{
        @include flex(row, space-between, center);
        padding:1em 2em;

        .cart-item-info{
            @include flex(row, flex-start, flex-start);

            .cart-item-image{
                width:100px;
                height:100px;
                
                img{
                    width:100%;
                    height:100%;
                    object-fit:contain;
                }
            }
            
            .cart-item-content{
                margin:.5em 0 0 1rem;

                p.cart-item-price{
                    margin-top:.5em;
                }
            }
        }

        .cart-item-extra{
            @include flex(row, flex-start, center);

            div.item-count{
                margin-right:1em;
            }

            p.items-price{
                width:70px;
                font-weight:600;
                margin:0 1em;
            }
        }

        &:not(:last-of-type){
            border-bottom:1px solid var(--secondaryBgColor);
        }
    }
}

@media screen and (max-width: $smallscreen){

    .cart-list{

        .cart-item{
            padding:1em 1em;
            align-items:flex-start;

            .cart-item-info{
                @include flex(column-reverse, space-between, flex-start);
                //width:60%;
                margin-right:1em;

                .cart-item-content{
                    margin:0 0 1em 0;

                    a.name{
                        font-size:15px;
                    }
                }
            }

            .cart-item-extra{
                @include flex(column, space-between, flex-start);

                p.items-price{
                    margin:1em 0;
                    width:auto;
                }
            }
        }
    }
}

.checkout-wrap{
    margin-top:2em;
    border:1px solid var(--secondaryBgColor);
    padding:2em;
    width:500px;

    .checkout-right{
        width:100%;

        table{
            width:100%;

            tr{

                td{
                    padding:.4em 0;
                }

                td:last-of-type{
                    text-align:right;
                }

                &.finalTotal{
                    border-top:2px solid var(--primaryTextColor);
                    font-weight:600;

                    td{
                        padding:.5em 0em;
                    }
                }
            }
        }

        .confirm-order{
            margin-top:1em;
            @include flex(column, center, center);

            .alert-end{
                margin-top:1em;
            }
        }
    }
}

@media screen and (max-width:$smallscreen){

    .checkout-wrap{
        width:100%;
    }
}