.cart-main{
    @include flex(column, flex-start, flex-end);
}

.cart-nav{
    width:100%;
    @include flex(row, space-between, center);
    margin-bottom:1rem;

    h1{
        font-size:20px;
    }
}

@media screen and (max-width: $smallscreen){

    .cart-nav{
        h1{
            font-size:18px;
        }
    }
}

.cart-wrap{
    width:100%;

    .cart-list{
        border:1px solid var(--secondaryBgColor);

        .cart-item{
            @include flex(row, space-between, center);
            padding:1em 2em;

            .cart-item-info{
                @include flex(row, flex-start, flex-start);

                .cart-item-image{
                    width:100px;
                    
                    img{
                        max-width:100%;
                        object-fit:contain;
                    }
                }
                
                .cart-item-content{
                    margin-left:1rem;

                    a.name{
                        font-weight:600;
                        margin-bottom:.5em;
                    }
                }
            }

            .cart-item-extra{
                @include flex(row, flex-end, center);

                .count-options{
                    @include flex(row, flex-start, center);
                    margin-right:1em;

                    label{
                        margin-right:.5em;
                    }

                    select{
                        height:40px;
                        padding:.5em;
                    }

                }

                p.items-price{
                    width:70px;
                    font-weight:600;
                    margin:1em;
                }
            }

            &:not(:last-of-type){
                border-bottom:1px solid var(--secondaryBgColor);
            }
        }
    }
}

@media screen and (max-width: $smallscreen){


    .cart-wrap{

        .cart-list{

            .cart-item{
                padding:1.5em 1em;
                align-items:flex-start;

                .cart-item-info{
                    @include flex(column-reverse, space-between, flex-start);
                    width:60%;

                    .cart-item-content{
                        margin-left:0;
                        margin-bottom:1em;

                        a.name{
                            font-size:15px;
                        }
                    }
                }

                .cart-item-extra{
                    @include flex(column, space-between, flex-start);
                    
                    .count-options{
                        margin-right:0;

                        select{
                            padding:0;
                        }
                    }

                    p.items-price{
                        margin:.4em 0;
                        width:auto;
                    }

                    button{
                        padding:0;
                    }
                }
            }
        }
    }
}


.checkout-wrap{
    margin-top:2em;
    border:1px solid var(--secondaryBgColor);
    @include flex(row, space-between, center);
    padding:2em;
    width:500px;

    .checkout-right{
        width:100%;

        table{
            width:100%;

            tr{

                td{
                    padding:.4em 0;
                }

                td:last-of-type{
                    text-align:right;
                }

                &.finalTotal{
                    border-top:2px solid var(--primaryTextColor);
                    font-weight:600;

                    td{
                        padding:.5em 0em;
                    }
                }
            }
        }

        .confirm-order{
            margin-top:1em;
            @include flex(column, center, center);

            .alert-end{
                margin-top:1em;
            }
        }
    }
}

@media screen and (max-width:$smallscreen){

    .checkout-wrap{
        width:100%;
    
        .checkout-right{
            width:100%;
    
            table{
                width:100%;
            }
        }
    }
}