
.main-lobby{
    @include flex(row, center, center);
}

.lobby-container{
    //width:800px;
    @include flex(row, flex-start, center);
    margin-bottom:6em;

    .lobby-panel-left{
        //width:50%;
        width:400px;
        padding-right:2em;
        margin-right:2em;
        border-right:2px solid var(--secondaryBgColor);
    }

    .lobby-panel-right{

        p{
            margin-bottom:1em;
        }
    }
}

@media screen and (max-width:$smallscreen) {
    
    .main-lobby{
        align-items:flex-start;
    }

    .lobby-container{
        flex-direction:column;
        align-items:center;
        text-align:center;
        margin:1em 0 0 0;

        .lobby-panel-left, .lobby-panel-right{
            max-width:300px;
            width:100%;
            padding:0;
        }
        
        .lobby-panel-left{
            border:0;
            margin:0;
        }

        .lobby-panel-right{
            border-top:1px solid var(--secondaryBgColor);
            padding-top:1em;
            margin-top:1em;
        }
    }
}

.panel-login, .panel-register{

    h1{
        margin-bottom:1em;
    }

    //Form inherits all styling from general form styling -> themes.scss
}