.store-main{
    @include flex(row, flex-start, flex-start);
}

// ****** PRODUCT FILTERS ******* //

.filter-container{
    width:25%;

    .results-wrap{
        height:60px;
        width:100%;
        @include flex(row, space-between, center);
        border-bottom:1px solid var(--secondaryBgColor);
        margin-bottom:1em;

        p{width:50%;}
    }

    .product-filters{
        padding:0;

        .filter-wrap{
            margin-bottom:.5em;
            padding:.5em 0;
            
            &:not(:last-of-type){
                border-bottom:1px solid var(--secondaryBgColor);
            }
    
            .filter-control{
                margin:0.5em 0;
                
                input[type=text]{
                    width:100%;
                    height:40px;
                    border:1px solid var(--secondaryTextColor);
                    outline:none;
                    padding-left:5px;
                    font-size:17px;
    
                    &:focus{
                        background:rgba(200,200,200,.2);
                    }
                }
    
                input[type=checkbox]{
                    margin-right:.4em;
                }
            }
        }
    }

    .toggle-filters{
        width:100%;
    }
}

// ****** PRODUCT CONTAINER WITH PAGINATIONS ******* //

.products-container{
    width:75%;
    padding-left:1em;
    margin-left:1em;
    height:100%;
    @include flex(column, space-between, flex-start);

    .above-list{
        border-bottom:1px solid var(--secondaryBgColor);
    }

    .below-list{
        border-top:1px solid var(--secondaryBgColor);
    }

    .above-list, .below-list{
        width:100%;
        @include flex(row, space-between, center);
        height:60px;

        .items-sorting, .pagination-nav, .pagination-perpage{
            width:33.3%;
        }

        .pagination-nav{
            @include flex(row, center, center);
            
            p.current-page{
                font-weight:600;
            }
        }

        .pagination-perpage{
            text-align:right;

            label{margin-right:.5em;}
        }
    }

    .product-list{
        width:100%;
        flex:1;
    }
}

//Product-filters appear as a separate panel on smallscreen

@media screen and (max-width:900px){

    .store-main{
       flex-direction:column;
    }

    .filter-container, .products-container{
        width:100%;
    }

    .filter-container{
        margin-bottom:1em;

        .overlay{
            background:rgba(50,50,50,0.9);
            position:fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            z-index:200;
        }

        .product-filters{
            z-index:210;
            position:fixed;
            background:var(--primaryBgColor);
            border-right:1px solid var(--secondaryBgColor);
            width:80%;
            padding:2em 1em 1em 1em;
            top:0;
            left:0;
            height:100vh;
            overflow-y:auto;
        }
    }

    .products-container{
        margin:0;
        padding:0;
    }

}

//Pagination component should rearrange on smallscreen

@media screen and (max-width:600px){

    .products-container{
        
        height:100%;
        @include flex(column, space-between, flex-start);
    
        .above-list, .below-list{
            width:100%;
            @include flex(column, space-around, space-between);
            height:100px;
    
            .row-top{
                width:100%;
                @include flex(row, space-between, flex-start);
            
                .items-sorting{
                    width:40%;
                } 
                
                .pagination-perpage{
                    width:50%;
                }
            }

            .row-bottom{

                .pagination-nav{
                    width:100%;
                    @include flex(row, center, center);
                    
                    p.current-page{
                        font-weight:600;
                    }
                }
            }
        }
    }
}


// ****** PRODUCT ITEM IN LIST ******* //

.product-list-item{
    padding:1.5em 0 2.5em 0;
    @include flex(row, space-between, flex-start);

    &:not(:last-of-type){
        border-bottom:1px solid var(--secondaryBgColor);
    }

    .list-item-img{
        width:25%;
        max-height:200px;

        img{
            width:100%;
            max-height:200px;
            height:100%;
            object-fit:contain;
        }
    }

    .list-item-info{
        width:75%;
        padding-left:2em;
        @include flex(row, flex-start, flex-start);
        
        .list-item-content{
            flex:1;
            margin-right:2em;

            p.product-specs{
                margin-top:.5em;
            }
            
            p.product-description{
                margin-top:1em;
            }

            p.product-stock{
                margin-top:1em;
            }
        }

        .list-item-extra{
            height:150px;
            @include flex(column, space-between, flex-start);
            width:150px;
        }
    }
}

@media screen and (max-width:$smallscreen){

    .product-list-item{
        margin:0;
        padding:1.5em 0;

        .list-item-img{
            width:40%;
        }

        .list-item-info{
            flex-direction:column;

            .list-item-content{
                margin-right:0;

                p.product-specs{
                    margin-top:1em;
                }
            }

            .list-item-extra{
                height:auto;

                .product-price{
                    margin:.5em 0;
                }
            }
        }
    }
}

@media screen and (max-width:520px){

    .product-list-item{
        flex-direction:column;

        a.product-name{
            margin-bottom:.5em;
            font-size:17px;
        }

        .list-item-img{
            width:100%;
            max-height:220px;

            img{
                max-height:220px;
                height:100%;
            }
        }

        .list-item-info{
            width:100%;
            padding-left:0;

            .list-item-content{
                margin-right:0;
            }

            .list-item-extra{
                width:100%;
                @include flex(row, space-between, center);

                .cart-wrap{
                    @include flex(row, flex-end, center);

                    .cart-check{
                        margin-right:1em;
                    }
                }
            }
        }
    }
}



// ******* DETAIL PRODUCT PAGE ******** //

.back-to-store{
    width:170px;
}

.product-detail-wrap{
    @include flex(column, flex-start, flex-start);
}

.product-heading{
    margin:1rem 0;
    padding:.5em 0;
    width:100%;
    border-bottom:1px solid var(--secondaryBgColor);

    p.product-name{
        font-size:28px;
        font-weight:700;
    }
}

.product-detail{
    @include flex(row, flex-start, flex-start);
    width:100%;
    
    .product-image{
        width:50%;
        max-height:400px;
        @include flex(row, center, center);

        img{
            height:100%;
            max-height:400px;
            width:100%;
            object-fit:contain;
        }
    }

    .product-detail-extra{
        height:100%;
        padding:0 2em 0 2em;
        @include flex(column, space-between, flex-start);

        div.top-info{ 

            div:not(:first-of-type){
                margin:1.5em 0;
            }

            div.product-price{
                font-size:34px;

                span.eurosign{
                    font-size:28px;
                }
            }

            div.delivery{
                p.delivery-info{
                    margin-top:.5em;
                }
            }

            div.service-checklist{
                
                p{
                    @include flex(row, flex-start, center);
                    margin:.5em 0;
                    color:var(--successColor);
                    
                    span{margin-left:5px;}
                }
            }
        }

        div.cart-wrap{
            width:100%;
            
            .item-added{
                margin-bottom:1em;
                width:170px;
                font-size:16px;
                font-weight:600;

                span.circular-icon{
                    width:40px;
                    height:40px;
                }
            }
        }
    }
}

.product-detail-content{
    margin-top:2em;
    padding-top:2em;
    border-top:1px solid var(--secondaryBgColor);
    width:100%;

    .specs{
        margin:2em 0;

        h2{
            margin-bottom:1em;
        }

        table{
            width:50%;
            border:1px solid var(--secondaryBgColor);
            border-collapse:collapse;

            td{
                border:1px solid var(--secondaryBgColor);
                padding:.4em .6em;
            }
        }
    }
}

@media screen and (max-width:$smallscreen) {
    
    .product-heading{
        margin-top:0;
    }

    .product-detail{
        flex-direction:column;
        width:100%;
        height:auto;
        
        .product-image{
            width:100%;
            max-height:400px;
            @include flex(row, center, center);
            overflow-y:hidden;
    
            img{
                height:100%;
                max-height:400px;
                width:100%;
                object-fit:contain;
            }
        }
    
        .product-detail-extra{
            margin:1em 0 0 0;
            padding:0;
            width:100%;
            flex-direction:row;
            justify-content: space-between;

            div.top-info{
                width:50%;
                margin-bottom:.5em;

                div:not(:first-of-type){
                    margin:.7em 0;
                }
            }

            div.cart-wrap{
                width:auto;
            }
        }
    }

    .product-detail-content{
        margin: 1em 0;
        padding-top:1em;

        .specs{
            table{
                width:100%;
            }
        }
    }
}

@media screen and (max-width:500px){

    .product-detail{

        .product-detail-extra{
            flex-direction:column;

            div.top-info, .cart-wrap{
                width:100%;
            }
        }
    }
}