.store-main{
    @include flex(row, flex-start, flex-start);
}

.product-filter{
    width:25%;

    h2{
        margin:1em 0;
    }

    .results-wrap{
        height:60px;
        width:100%;
        @include flex(row, flex-start, center);
        border-top:1px solid var(--secondaryBgColor);
        border-bottom:1px solid var(--secondaryBgColor);
        margin-bottom:1em;

        p{
            width:50%;
        }
    }

    .filter-wrap{
        margin-bottom:1em;
        padding-bottom:1em;
        
        &:not(:last-of-type){
            border-bottom:1px solid var(--secondaryBgColor);
        }

        h3{
            font-weight:600;
            font-size:16px;
            margin-bottom:0.2em;
        }

        .filter-control{
            margin:0.5em 0;
            
            select, input[type=text]{
                width:100%;
                height:30px;
                border:1px solid var(--secondaryTextColor);
                outline:none;
                //border-radius:2px;
                padding:0;
            }

            input[type=text]{
                padding-left:5px;
                font-size:16px;
            }

            input[type=checkbox]{
                margin-right:.4em;
            }
        }
    }
}

.products-container{
    width:75%;
    padding-left:1em;
    margin-left:1em;
    height:100%;
    @include flex(column, space-between, flex-start);

    .above-list, .below-list{
        width:100%;
        @include flex(row, space-between, center);
        height:60px;
        border-top:1px solid var(--secondaryBgColor);
        border-bottom:1px solid var(--secondaryBgColor);

        .results, .pagination-info, .pagination-perpage{
            width:33.3%;
        }

        .pagination-info{
            @include flex(row, center, center);
            
            button{
                margin:0em;
            }

            p.current-page{
                font-weight:600;
            }
        }

        .pagination-perpage{
            text-align:right;
            label{
                margin-right:.5em;
            }
        }

    }

    .product-list{
        width:100%;
        flex:1;
        padding-top:1em;

        .no-results{
            height:50px;
            width:100%;
            @include flex(row, center, center);
        }
    }
}



.product-list-item{
    padding:2em 0;
    @include flex(row, flex-start, flex-start);

    &:not(:last-of-type){
        border-bottom:1px solid var(--secondaryBgColor);
    }

    img{
        width:220px;
        object-fit:cover;
    }

    .list-item-info{
        width:calc(100% - 220px);
        padding-left:2em;
        min-height:150px;
        @include flex(row, flex-start, flex-start);
        
        .list-item-content{
            flex:1;
            margin-right:2em;
            
            a.name, p.name{
                font-weight:600;
                font-size:1.2em;
            }

            p.specs{
                margin-top:.5em;
                font-size:13px;
                color:var(--secondaryTextColor);
            }

            p.description{
                margin-top:1em;
                font-size:14px;
            }

            p.stock{
                margin:1.5em 0 0 0;
                display:inline-block;
                padding:0.2em 0.5em;

                &.not-in-stock{
                    border:1px solid var(--secondaryTextColor);
                    color:var(--secondaryTextColor);
                }

                &.in-stock{
                    border:1px solid var(--successColor);
                    color:var(--successColor);
                }
            }
        }

        .list-item-extra{
            height:150px;
            @include flex(column, space-between, flex-start);
            width:150px;
           
            .price-wrap{
                margin-bottom:2em;

                p.price{
                    font-size:26px;
                    font-weight:700;
                    color:var(--otherColor);

                    span.eurosign{
                        font-size:22px;
                        font-weight:600;
                        margin-right:5px;
                    }
                }
            }

            .addtocart{
                height:40px;
                width:130px;
            }

            .count-wrap{
                width: 105px;
                color: var(--successColor);
            
                div.added{
                    @include flex(row, flex-start, center);
                    margin-right:1em;
                    height:40px;
                    width:130px;
                    padding:0em;
                    font-size:14px;
                    font-weight:600;
                    //border: 1px solid var(--successColor);
                    //border-left:2px solid var(--successColor);

                    span.circular-icon{
                        border:2px solid var(--successColor);
                        width:30px;
                        height:30px;
                        @include flex(row, center, center);
                        border-radius:50%;
                        margin-right:.5em;
                    }

                    p{color:var(--successColor)}
                }
            
                div.options{
                    @include flex(row, space-between, center);
                    margin-top:.4em;

                    select{
                        margin-right:.5em;
                    }
                }
            }
        }
    }
}



@media screen and (max-width:$smallscreen){

    .product-list-item{
        margin:2em 0;

        img{
            min-width:100px;
            object-fit:cover;
        }
    
        .list-item-info{
            width:calc(100% - 100px);
            flex-direction:column;

            .list-item-content{
                margin:0 0 1em 0;
            }
        }
    }
}