.store-main{
    @include flex(row, flex-start, flex-start);
}

.product-filter{
    width:20%;
    margin-right:2rem;

    .filter-wrap{
        margin-bottom:2em;

        h3{
            font-weight:600;
            font-size:16px;
            margin-bottom:0.2em;
        }

        .filter-control{
            margin:0.5em 0;

            select, input[type=text]{
                width:100%;
                height:30px;
                border:1px solid var(--secondaryTextColor);
                outline:none;
                border-radius:2px;
                padding:0;
            }

            input[type=text]{
                padding-left:5px;
            }

            input[type=checkbox]{
                margin-right:.4em;
            }
        }

    }
}

.products-container{
    width:80%;

    .above-list{
        @include flex(row, flex-start, center);
        height:50px;
    }

    .product-list{
        margin-bottom:2em;
    }

    .no-results{
        height:50px;
        width:100%;
        @include flex(row, center, center);
    }
}



.product-list-item{
    margin-bottom:3em;
    @include flex(row, flex-start, flex-start);

    img{
        width:200px;
        object-fit:cover;
    }

    .list-item-info{
        width:calc(100% - 200px);
        padding-left:2em;
        @include flex(row, flex-start, flex-start);
        
        .list-item-content{
            flex:1;
            margin-right:2em;

            a.name, p.name{
                font-weight:600;
            }

            p.description{
                margin-top:1em;
                font-size:14px;
            }
        }

        .list-item-extra{
            width:150px;

            .price-wrap{
                margin-bottom:1rem;
                
                p.price{
                    font-size:24px;
                    font-weight:700;
                }
            }

            .addtocart{
                height:50px;
            }

            .count-options{
                height:50px;
                @include flex(row, space-around, center);
                padding:0 .5em;
                width: 105px;
                color: var(--successColor);
                border: 1px solid var(--successColor);

                div.added{
                    @include flex(row, center, center);
                    margin-right:1.5em;
                }

                p.count{
                    font-size:20px;
                }

                div.count-buttons{
                    @include flex(column, center, center);

                    button{
                        font-size:18px;
                        font-weight:400;

                        &.arrow-down{
                            margin-top:-2px;
                        }

                        &.arrow-up{
                            margin-bottom:-2px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$smallscreen){

    .product-list-item{
        margin:2em 0;

        img{
            min-width:100px;
            object-fit:cover;
        }
    
        .list-item-info{
            width:calc(100% - 100px);
            flex-direction:column;

            .list-item-content{
                margin:0 0 1em 0;
            }
        }
    }

}