// TITLE STYLING

h1{
    font-size:26px;
    font-weight:600;
}

h2{
    font-size:20px;
}

h3{
    font-weight:600;
    font-size:16px;
    margin-bottom:0.2em;
}

@media screen and (max-width:$smallscreen){

    h1{
        font-size:20px;
        line-height:1.1;
    }

    h2{
        font-size:18px;
    }
}

//PARAGRAPH STYLING

p{
    font-size:1em;
    color:var(--primaryTextColor);
}

p.error{
    color:rgb(185, 19, 19);
}

p.success{
    font-weight:bold;
    color:rgb(16, 122, 16);
}

//SOME BUTTON AND INPUT STYLING

a, button{
    font-family: $hoofdfont, sans-serif;
    font: var(--hoofdfont);
    color:var(--primaryTextColor);
}

a.button, button.button{
    display:inline-block;
    height:40px;
    padding:0;
    border-radius:0px;
    font-weight:700;
    text-align:center;
    font-size:14px;
    line-height:40px;
    transition:background-color .2s ease;
    cursor:pointer;
}

button.button{
    line-height:1;
}

button.flex{
    @include flex(row, center, center);
}

a.circle, button.circle{
    width:40px;
    height:40px;
    font-weight:700;
    border-radius:50%;
    transition:background-color .2s ease;
}

a.primary, button.primary{
    background-color:var(--accentColor);
    color:var(--primaryBgColor);
    transition:background-color .2s ease;

    &:hover{
        background-color:var(--accentDarkColor);
    }
}

a.secondary, button.secondary{
    background:none;
    color:var(--accentColor);

    &:hover{
        color:var(--accentDarkColor);
    }
}

a.white, button.white{
    background:none;
    color:var(--primaryBgColor);
    padding:0;

    &:hover{
        color:rgb(219, 219, 219);
    }
}

a.link, button.link{
    text-decoration:underline;
    background:none;

    &:hover{
        color:var(--accentColor);
    }
}

a.active, button.active{
    font-weight:600;
}

a.arrow, button.arrow{
    background:none;
    font-size:1.4em;
    line-height:1;

    &:hover{
        color:var(--secondaryTextColor);
    }
}

a.center, button.center{
    @include flex(row, center, center);
}

a.padded, button.padded{
    padding:0 1em;
}

a.fullwidth, button.fullwidth{
    width:100%;
}

a.mg-t, button.mg-t{
    margin:1em 0;
}

// FORM ELEMENTS STYLING

form{

    .form-control{
        margin:1.2em 0;
        @include flex(column, flex-start, flex-start);

        label{
            font-size:15px;
            display:none;
        }

        p.error{
            margin-top:.3em;
        }
    }
}

input[type=text], input[type=email], input[type=password]{
    height:40px;
    width:100%;
    border:none;
    border-bottom:1px solid var(--secondaryTextColor);
    font-size:16px;
    padding-left:5px;
    outline:none;

    &:focus{
        border-bottom:2px solid var(--primaryTextColor);
    }
}

input[type=checkbox]{
    margin-right:.4em;
}

select{
    height:30px;
    border:1px solid var(--secondaryTextColor);
    outline:none;
    padding-left:5px;
    font-size:15px;
}

// ********* PRODUCT THEMES: APPLIED TO PRODUCT ITEM & PRODUCT DETAIL PAGE ******** //

a.product-name, p.product-name{
    font-weight:600;
    font-size:1.2em;
}

@media screen and (max-width:$smallscreen){
    a.product-name, p.product-name{
        font-size:1.1em;
    }
}

p.product-specs{
    font-size:13px;
    color:var(--secondaryTextColor);
}

p.product-description{
    font-size:14px;
}

p.product-rating{
    font-weight:600;
    font-size:18px;
}

p.product-stock{
    display:inline-block;
    padding:0.2em 0.5em;

    &.not-in-stock{
        border:1px solid var(--secondaryTextColor);
        color:var(--secondaryTextColor);
    }

    &.in-stock{
        border:1px solid var(--successColor);
        color:var(--successColor);
    }
}

div.product-price{
    font-size:26px;
    font-weight:700;
    color:var(--otherColor);

    span.eurosign{
        font-size:22px;
        font-weight:600;
        margin-right:5px;
    }
}

.cart-wrap{

    button.addtocart{
        padding:1.5em 2.5em;
    }

    div.item-added{
        @include flex(column, space-between, flex-start);
        font-size:14px;   
        font-weight:600;

        .cart-check{
            @include flex(row, flex-start, center);
            margin-bottom:.5em;

            p{color:var(--successColor)};

            span.circular-icon{
                background:var(--successColor);
                color:white;
                width:35px;
                height:35px;
                @include flex(row, center, center);
                border-radius:50%;
                margin-right:.5em;
            }
        }
    }
}

div.item-count{
    @include flex(row, flex-start, center);

    select{
        margin-left:1em;
    }
}